/* .photo-first{
    margin-top: -100px;
    width: 1534px;
    height: 300px;
    margin-left: -220px;
} */
.text-title-2{
    position: relative;
    bottom: -115px;
    color: aliceblue;
}
#text-title-3{
    position: relative;
    bottom: -115px;
    left: 15px;
}
.photo-about-1{
    margin-top: 1px;
}

.text-about{
   margin-top: -500px;
   margin-left:580px;
}


.generality{
     
    border: solid #efefef 1px;  
    width:1100px;  
    border-radius: 2px;  
    margin: 130px auto;  
    background: white;  
    padding: 30px; 
    margin-left: 6px; 
    background-color: #efefef;
    

}
#text-title-DaNa{
    font-size: 35px;
}