

p{
	color:#808285;
}

.page-heading h2{
	color:#231f20;
}

.page-heading.white-heading h2{
	color:white;
}


.page-heading .heading-line{
	border-color:#ff884d;
	border-width:medium;
}

.innerpage-heading h1{
	color:#000000;
}

.trip-heading span{
	color:#ff884d;
}

.yellow-line{
	border-color:#ff884d;
	border-width:5px;
}

.bg-grey{
	background:#f1f2f2;
}

.btn{
	border-radius:0px;
	border:0px;
}

.btn-orange,
.btn-orange:focus{
	background:#ff884d;
	color:white;
}

.btn-orange:hover{
	background:#010101;
	color:white;
}

.btn-black,
.btn-black:focus{
	background:#000;
	color:white;
}

.btn-black:hover{
	background:#ff884d;
	color:white;
}

.btn-o-border{
	border:1px solid #ff884d;
	color:#ff884d;
}

.btn-o-border:hover{
	border-color:#ff884d;
	color:white;
	background:#ff884d;
}

.btn-w-border{
	border:1px solid #e2e1e1;
	color:white;
}

.btn-w-border:hover{
	border:1px solid white;
	color:black;
	background:white;
}

.btn-g-border,
.btn-g-border:focus{
	border:1px solid #939598;
	color:#565656;
}

.btn-g-border:hover{
	border:1px solid black;
	color:white;
	background:black;
}

.btn-white,
.btn-white:focus{
	background:white;
	color:#000;
}

.btn-white:hover{
	background:#ff884d;
	color:#000;
}

.btn-lightgrey,
.btn-lightgrey:focus{
	background:#efefef;
	color:#000;
}

.btn-lightgrey:hover{
	background:#303030;
	color:white;
}

.owl-carousel.owl-custom-arrow .owl-controls .owl-buttons .owl-prev,
.owl-carousel.owl-custom-arrow .owl-controls .owl-buttons .owl-next{
	border-radius:0px;
	background:#ff884d;
}

.map iframe{
	border:0px;
}

@media(max-width:991px){
	
	.back-size{
		background-size:cover !important;
	}
}

/* -----------------------------------------------------
		Top Bar
   ----------------------------------------------------- */

#top-bar{
	background-color:#000;
}

#top-bar .form-group select{
    background:none;
    -webkit-appearance: none;
    -moz-appearance: none;
	border:0px;
	box-shadow:none;
}

#top-bar .form-group select option{
	color:black;
}

#top-bar.tb-text-white #links ul li a,
#top-bar.tb-text-white #info ul li,
#top-bar.tb-text-white .form-group select,
#top-bar.tb-text-white .form-group .fa {
	color:white;
}

#top-bar.tb-text-white #links > ul > li form:after{
	background:white;
}

#top-bar.tb-text-grey #links ul li a,
#top-bar.tb-text-grey #info ul li,
#top-bar.tb-text-grey .form-group select,
#top-bar.tb-text-grey .form-group .fa{
	color:#939598;
}

#top-bar.tb-text-grey #links > ul > li form:after{
	background:#939598;
}

#flight-homepage #top-bar{
	background:#ff884d;
}

#cruise-homepage #top-bar{
	background:rgba(0,0,0,0.7);
}

/* -----------------------------------------------------
		Navbar
   ----------------------------------------------------- */

.navbar-white{
	background:white;
}

/************* MAIN NAVBAR *************/

.main-navbar{
	border:0px;
	border-radius:0px;
}
  
.main-navbar .navbar-header .navbar-brand {
  color:#000;
  font-weight:900;
}

.main-navbar .navbar-header .navbar-brand span{
  color:#ff884d;
}

.main-navbar .navbar-header .header-search .fa{
	color:#ff884d;
}

.main-navbar .navbar-header .navbar-toggle {
	background:none;
	border:0;
}

.main-navbar .navbar-header .navbar-toggle span{
	background:#000;
}

.main-navbar .navbar-collapse{
	border-color:2F98B9;
}

.main-navbar .nav > li > a{
	color:#58595b;
}

.main-navbar .navbar-nav > li::before{
	background:#ff884d;
}

.main-navbar .navbar-nav > li::before{
	background:#ff884d;
}

.main-navbar .nav > li > a:hover,
.main-navbar .nav > li > a:focus,
.main-navbar .nav > li > a:focus:hover,
.main-navbar .nav > li.active > a,
.main-navbar .nav > li.active > a:focus,
.main-navbar .nav > li.active > a:hover,
.main-navbar .nav > li.active > a:focus:hover {
	color: #ff884d;
	background-color: transparent;
}

.main-navbar .navbar-search-link > li:last-child a{
	border:1px solid #ff884d;
	color:#ff884d;
	border-radius:100%;
}

.main-navbar .navbar-search-link > li:last-child a:hover{
	background:#ff884d;
	color:white;
}

.main-navbar .navbar-nav > li.dropdown.active.open > a, 
.main-navbar .navbar-nav > li.dropdown.active > a:hover,
.main-navbar .navbar-nav > li.dropdown.open > a, 
.main-navbar .navbar-nav > li.dropdown.open > ul.dropdown-menu > a:hover{
	color:#ff884d;
  	background:none;
}

.main-navbar .navbar-nav li .dropdown-menu{
	border-radius:0px;
	background:#f6f6f6;
	border-color:#f2f2f2;
	border-bottom:0px;
}

.main-navbar .navbar-nav li .dropdown-menu li a:hover,
.main-navbar .navbar-nav li .dropdown-menu li a:focus,
.main-navbar .navbar-nav li .dropdown-menu li.active a,
.main-navbar .navbar-nav li .dropdown-menu li.active a:hover {
	background:#ff884d;
	color:black;
}

.main-navbar .mega-dropdown-menu{
	background:linear-gradient(rgba(242, 242, 242,0.85),rgba(242, 242, 242,0.85)),url('../images/megamenu.jpg') 65% 50% !important;
}

.main-navbar .mega-dropdown-menu .dropdown-header{
	color:#333;
}

.main-navbar .navbar-nav li .mega-dropdown-menu ul li a{
	color:#333;
	border-bottom:0px;
}

.main-navbar .mega-dropdown-menu .dropdown-header span{
	color:#ff884d;
}

@media(min-width:768px){

	.main-navbar.affix {
		box-shadow:0px 2px 5px rgba(0,0,0,0.2);
	}
	
	.main-navbar .navbar-nav li .dropdown-menu li a{
		border-bottom:1px solid #ebebeb;
	}
}

@media(max-width:767px){

	.main-navbar{
		background:white;
	}
	
	.main-navbar.affix{
		box-shadow:0px 2px 5px rgba(0,0,0,0.2);
	}
}

/************* NAVBAR-TRANSPARENT *************/

@media(min-width:1200px){
	
	.main-navbar.navbar-transparent .navbar-nav > li > a{
		color:white;
	}
	
	.main-navbar.navbar-transparent .navbar-nav > li:last-child > a{
		color:#ff884d;
	}
	
	.main-navbar.navbar-transparent .nav > li > a:hover,
	.main-navbar.navbar-transparent .nav > li > a:focus,
	.main-navbar.navbar-transparent .nav > li > a:focus:hover,
	.main-navbar.navbar-transparent .nav > li.active > a,
	.main-navbar.navbar-transparent .nav > li.active > a:focus,
	.main-navbar.navbar-transparent .nav > li.active > a:hover,
	.main-navbar.navbar-transparent .nav > li.active > a:focus:hover  {
		color: #ff884d;
	}
	
	.main-navbar.navbar-transparent.affix .navbar-nav > li > a{
		color:#58595b;
	}
	
	.main-navbar.navbar-transparent.affix .nav > li > a:hover,
	.main-navbar.navbar-transparent.affix .nav > li > a:focus,
	.main-navbar.navbar-transparent.affix .nav > li > a:focus:hover,
	.main-navbar.navbar-transparent.affix .nav > li.active > a,
	.main-navbar.navbar-transparent.affix .nav > li.active > a:focus,
	.main-navbar.navbar-transparent.affix .nav > li.active > a:hover,
	.main-navbar.navbar-transparent.affix .nav > li.active > a:focus:hover  {
		color: #ff884d;
	}
}

@media(min-width:768px){
	
	.main-navbar.navbar-transparent{
		background:transparent;
	}
	
	.main-navbar.navbar-transparent .navbar-brand{
		color:white;
	}
	
	.main-navbar.navbar-transparent .navbar-toggle span{
		background:white;
	}
	
	.main-navbar.navbar-transparent.affix{
		background:white;
	}
	
	.main-navbar.navbar-transparent.affix .navbar-brand{
		color:#000;
	}
	
	.main-navbar.navbar-transparent.affix .navbar-toggle span{
		background:#000;
	}
}

/************ NAVBAR-COLORED *************/

.navbar-colored{
	background:#ff884d;
}

.main-navbar.navbar-colored .navbar-header .navbar-brand {
  color:white;
}

.main-navbar.navbar-colored .navbar-header .navbar-brand span{
  color:#000;
}

.main-navbar.navbar-colored .nav > li > a{
	color:white;
}

.main-navbar.navbar-colored .navbar-nav > li::before{
	background:#000;
}

.main-navbar.navbar-colored .navbar-nav > li::before{
	background:#000;
}

.main-navbar.navbar-colored .nav > li > a:hover,
.main-navbar.navbar-colored .nav > li > a:focus,
.main-navbar.navbar-colored .nav > li > a:focus:hover,
.main-navbar.navbar-colored .nav > li.active > a,
.main-navbar.navbar-colored .nav > li.active > a:focus,
.main-navbar.navbar-colored .nav > li.active > a:hover,
.main-navbar.navbar-colored .nav > li.active > a:focus:hover {
	color:#000;
	background-color: transparent;
}

.main-navbar.navbar-colored .navbar-nav > li.dropdown.active.open > a, 
.main-navbar.navbar-colored .navbar-nav > li.dropdown.active > a:hover,
.main-navbar.navbar-colored .navbar-nav > li.dropdown.open > a, 
.main-navbar.navbar-colored .navbar-nav > li.dropdown.open > ul.dropdown-menu > a:hover{
	color:#000;
  	background:none;
}

.main-navbar.navbar-colored .navbar-nav li .dropdown-menu li a:hover,
.main-navbar.navbar-colored .navbar-nav li .dropdown-menu li a:focus,
.main-navbar.navbar-colored .navbar-nav li .dropdown-menu li.active a,
.main-navbar.navbar-colored .navbar-nav li .dropdown-menu li.active a:hover {
	background:#000;
	color:#f2f2f2;
}

.main-navbar.navbar-colored .navbar-search-link > li:last-child a{
	border:1px solid white;
	color:white;
	border-radius:100%;
}

.main-navbar.navbar-colored .navbar-search-link > li:last-child a:hover{
	background:white;
	color:#000;
}

.main-navbar.navbar-colored .navbar-header .header-search .fa{
	color:#000;
}

@media(max-width:767px){
	
	.main-navbar.navbar-colored{
		background:#ff884d;
	}
}

/************* NAVBAR-BLACK *************/

.navbar-black{
	background:rgba(0,0,0,0.4);
}

.main-navbar.navbar-black.affix{
	background:#000;
}

.main-navbar.navbar-black .navbar-header .navbar-brand {
  color:white;
}

.main-navbar.navbar-black .navbar-header .navbar-brand span{
  color:#ff884d;
}

.main-navbar.navbar-black .navbar-header .navbar-toggle span{
	background:white;
}

.main-navbar.navbar-black .nav > li > a{
	color:white;
}

.main-navbar.navbar-black .nav > li > a:hover,
.main-navbar.navbar-black .nav > li > a:focus,
.main-navbar.navbar-black .nav > li > a:focus:hover,
.main-navbar.navbar-black .nav > li.active > a,
.main-navbar.navbar-black .nav > li.active > a:focus,
.main-navbar.navbar-black .nav > li.active > a:hover,
.main-navbar.navbar-black .nav > li.active > a:focus:hover {
	color:#ff884d;
	background-color: transparent;
}

@media(max-width:767px){
	
	.navbar-black{
		background:rgba(0,0,0,0.4);
	}
}

/************* SEARCH-OVERLAY *************/

.overlay {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

#menu-button{
	color:black;
}

#close-button{
	color:#818181;
}

#close-button:hover{
	color:#f1f1f1;
}

.overlay-content form input{
	background:rgba(255,255,255,0.2);
	border:0px;
	border-radius:0px;
	color:white;
}

.overlay-content form input:focus{
	box-shadow:none;
	border-color:white;
}

.overlay-content form .input-group-btn .btn{
	background:#818181;
}

.overlay-content form .input-group-btn .btn:hover{
	background:white;
}

.overlay-content form input,
.overlay-content form .input-group-btn .btn{
	height:60px;
}

/*************** SIDEBAR NAV ***************/

#mySidenav{
	background:white;
	box-shadow:0px 0px 20px rgba(0,0,0,0.3);
}

#mySidenav::-webkit-scrollbar{
    width: 0.5em;
	background:#f2f2f2;
}
 
#mySidenav::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#mySidenav::-webkit-scrollbar-thumb{
	background-color:#303030;
	outline: 1px solid slategrey;
}

#mySidenav #web-name{
	background:#ff884d;
	color:white;
}

#mySidenav #web-name::after{
	background:#303030;
	transform:rotate(43deg);
}

.sidenav #closebtn{
	color:white;
	background:transparent;
}

#main-menu .list-group.panel{
	border:0px;
}

#main-menu .list-group > .list-group-item{
	border-radius:0px;
	border-left:0px;
	border-right:0px;
	border-color:#f6f6f6;
	color:#303030;
}

#main-menu .list-group > .list-group-item:first-child{
	border-top:0px;
}

#main-menu .list-group > .list-group-item.active,
#main-menu .list-group > .list-group-item:focus,
#main-menu .list-group > .list-group-item:hover{
	background:#303030;
	color:white;
}

#main-menu .list-group-item .link-icon{
	color:#ff884d;
}

#mySidenav .list-group-item .arrow{
	color:#ff884d;
}

#main-menu .list-group .sub-menu .list-group-heading span{
	color:#ff884d;
}

#main-menu .list-group .sub-menu > .list-group-item{
	background:#f8f8f8;
	border-color:#f1f1f1;
	border-radius:0px;
}

#main-menu .list-group .sub-menu > .list-group-item.active,
#main-menu .list-group .sub-menu > .list-group-item:hover,
#main-menu .list-group .sub-menu > .list-group-item:focus{
	background:#e6e6e6;	
	color:#303030;
}

@media(min-width:1200px){
	
	#mySidenav{
		transform:translateX(120%) !important;
	}
}

/* -----------------------------------------------------
		Slider
   ----------------------------------------------------- */

.flexslider.slider{
	border:0px;
	border-radius:0px;
	background:none;
}

.flexslider li .meta,
.flexslider li .meta p{
	color:white;
}

.flexslider li .meta .highlight-price{
	background:#ff884d;
}

.flexslider li .meta .btn{
	background:transparent;
	color:white;
	border:1px solid white;
}

.flexslider li .meta .btn:hover{
	background:white;
	color:#333;
	border:1px solid white;
}

/* -----------------------------------------------------
		Search Tabs
   ----------------------------------------------------- */

.search-tabs .nav-tabs li a{
	background:#000;
	border-radius:0px;
	color:white;
}

.search-tabs .nav-tabs li:hover a{
	border-color:transparent;
}

.search-tabs .nav-tabs li.active a{
	background:white;
	border-radius:0px;
	color:#808285;
	border:2px solid white;
	border-bottom:0px;
}

.search-tabs .nav-tabs li .fa{
	color:#ff884d;
}

.search-tabs .tab-content .tab-pane{
	background:white;
}

.search-tabs .tab-content .tab-pane .form-group .fa{
	color:#ff884d;
}

.search-tabs .tab-content .tab-pane input,
.search-tabs .tab-content .tab-pane select{
	border-radius:0px;
	color:#000;
	border-color:#e2e3e4;
	box-shadow:none;
}

.search-tabs .tab-content .tab-pane input::placeholder{
	color:#000;
}

.search-tabs .tab-content .tab-pane select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/************* SEARCH-TABS-2 *************/

#search-tabs-2 .nav-tabs li.active a,
#search-tabs-2 .nav-tabs li.active .fa{
	color:#66686a;
}

/************* SEARCH-TABS-3 *************/

#search-tabs-3 .nav-tabs{
	border-bottom-color:transparent;
}

#search-tabs-3 .nav-tabs li a,
#search-tabs-3 .nav-tabs li.active a{
	border:0px;
}

#search-tabs-3 .nav-tabs li.active a,
#search-tabs-3 .nav-tabs li.active .fa{
	color:#66686a;
}

#search-tabs-3 .nav-tabs li.active a{
	background:rgba(255,255,255,0.9);
}

#search-tabs-3 .tab-pane{
	background:rgba(255,255,255,0.9);
}

#search-tabs-3 .tab-pane form input,
#search-tabs-3 .tab-pane form input::placeholder,
#search-tabs-3 .tab-pane form select{
	color:#8c8d8f;	
}

#search-tabs-3 .tab-pane form select option{
	color:#000;
}

.welcome-message{
	background:rgba(0,0,0,0.8);
	color:#ff884d;
}

.welcome-message p{
	color:white;
}

/************* SEARCH-TABS-4 *************/

#search-tabs-4 .nav-tabs li.active a,
#search-tabs-4 .nav-tabs li.active .fa{
	color:#66686a;
}

#search-tabs-4 .tab-pane{
	border-bottom:1px solid #e2e3e4;
}

/************* SEARCH-TABS-5 *************/

#search-tabs-5 .tab-pane{
	background:#efeff0;
}

/* -----------------------------------------------------
		Main Block
   ----------------------------------------------------- */

.main-block:hover{
	transform:translateY(-10px);
}

.main-block:hover .main-img img{
	transform:scale(1.15);
} 

.main-info{
	background:white;
}

.main-info .main-title a{
	color:#000;
}

.rating .fa.lightgrey{
	color:#d1d3d4;
}

.rating .fa.orange{
	color:#ff884d;
}

.rating .fa.grey{
	color:#8b8e90;
}

.arrow .fa{
	background:#8e8f91;
	color:white;
	border-radius:100%;
}

.arrow .fa:hover{
	background:#ff884d;
	color:white;
}

/************** OFFER-PRICE-1 *************/

.offer-price-1 li.price{
	color:white;
}

.offer-price-1 li.price .divider,
.offer-price-1 li.price .pkg{
	color:#b6b6b6;
}

/************** OFFER-PRICE-2 *************/

.offer-price-2{
	background:#000;
	color:white;
}

.offer-price-2 .arrow .fa{
	background:#ff884d;
}

