/* Strart Login */
/* .check-box{
    margin-left: 13px;
} */
/* .text-title-7{
   margin-left: 210px;
   color: gainsboro;
} */

/* #text-title-6{
    position: relative;
   font-size: 40px;
   bottom: 370px;
   text-align: center;
} */
/* End Login */





/* Start Register */
/* .catalog-1{
    background-color: gray;
    height: 600px;
} */
/* .text-title-2{
    position: relative;
    bottom: -115px;
    color: aliceblue;
} */
/* #text-title-3{
    position: relative;
    bottom: -115px;
    left: 15px;
} */
/* .text-title-1, h6,h1{
   margin-left: 13px;
   
} */
/* .btn-warning{
    width: 520px;
    margin-left: 10px;

    color: aliceblue;
    background-color: #FAA61A;
} */
/* .btn-warning :after :hover{
    background-color: black;
} */

/* .text-title-4{
    text-align: center;
    margin-top: 20px;
   
} */

/* .text-title-4 a{
    color: #FAA61A;
}
.first-photo{
   margin-top: -100px;
   width: 1534px;
   height: 300px;
   margin-left: -220px;
} */
/* .row ,.col-sm-6{
    bottom: -100px;
}
.form-group,.form-contro{
    padding: 10px;
} */

/* .second-photo{
    height: 600px;
    width: 600px;
    margin-left: -30px;
} */

/* #text-title-5{
    position: relative;
   font-size: 50px;
   bottom: 370px;
   text-align: center;
} */
/* End Register */


#frm{  
    border: solid #efefef 1px;  
    width:530px;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: white;  
    padding: 50px; 
    margin-left: 200px; 
    background-color: #efefef;
}  
.text-title-2{
    position: relative;
    bottom: -95px;
    color: aliceblue;
    left: 200px;
    
}
#text-title-3{
    position: relative;
    bottom: -95px;
    left: 200px;
    font-size: 18px;
}
.first-photo{
    margin-top: -100px;
    width: 1600px;
    height: 300px;
    margin-left: -220px;
 }

.wrapper{ 
    width: 470px; 
    padding: 20px; 
}
.btn-primary{
    background-color: #2F98B9;
    width: 430px; 
    border: none;
    
}

.text-title4 {
    text-align: center;
    
}
.text-title-7{
    left: 150px;
    position: relative;
}

.second-photo{
    height: 446px;
    width: 530px;
    margin-left: 750px;
    margin-top: -746px;
}

.third-photo{
    position: relative;
    height: 517px;
    width: 550px;
    margin-left: 750px;
    margin-top: -818px;
}
#text-title-6{
    position: relative;
    margin-left: 920px;
    margin-top: -400px;
    font-size: 30px;
   
   
}

.first-photo-register{
    margin-top: -100px;
    width: 1715px;
    height: 300px;
    margin-left: -220px;
}
.here, a{
    color: #2F98B9;
}
